<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px" />

# Python Ladder Challenge - Notebook 2

_Author:_ Tim Book

# Climb the Ladder!
Our class moves quickly! Sometimes, it feels like we make leaps in logic that are a bit too big. Learn Python _slowly_, by doing many, many examples. Problems in this notebook start out easy and progressively get harder, so that the next rung of the Python ladder is always within reach.

# Section IV: Conditionals and Loops

34) Print out the numbers 1 through 10.

In [8]:
[x for x in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

35) Print out the odd numbers between 1 and 20 by using the third paramter to the `range()` function.

In [9]:
[x for x in range(1,21,2)]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

36) Print out the odd numbers between 1 and 20 by checking if the number is even before printing.

In [10]:
for x in range(1,21):
    if x % 2 != 0: 
        print(x)

1
3
5
7
9
11
13
15
17
19

37) What is the sum of the first 100 integers? Hint: Create a variable `total` equal to zero, and increment `total` inside a loop.

In [15]:
my_list = [x for x in range(1, 100)]

total = 0 

for number in my_list: 
    total += number
    
total

4950

38) For each friend in your `friends` list, print `"PERSON IS AWESOME!"` in all caps, where `PERSON` is of course replaced with your friend's name.

In [20]:
friends = ["Alice", "Bob", "Charlie", "Debbie"]

In [21]:
for name in friends:
    print(f'{name.upper()} IS AWESOME!')

ALICE IS AWESOME!
BOB IS AWESOME!
CHARLIE IS AWESOME!
DEBBIE IS AWESOME!

39) Similar to the last problem, print `"PERSON IS AWESOME!"` for each friend in your friends list _only if their name ends in a vowel_. Otherwise, print `"person is ok..."` (all lowercase).

In [40]:
for name in friends: 
    if name[-1] in 'aeiouy':
        print(f'{name.upper()} IS AWESOME!')
    else: 
        print(f'{name} is ok...')

ALICE IS AWESOME!
Bob is ok...
CHARLIE IS AWESOME!
DEBBIE IS AWESOME!

40) For each number between 1 and 30, if a number is divisible by 3, print `"Fizz"`. Otherwise, just print the number.

In [41]:
for number in range(1,31):
    if number % 3 == 0: 
        print('Fizz')
    else: 
        print(number)

1
2
Fizz
4
5
Fizz
7
8
Fizz
10
11
Fizz
13
14
Fizz
16
17
Fizz
19
20
Fizz
22
23
Fizz
25
26
Fizz
28
29
Fizz

41) For each number between 1 and 30, if a number is divisible by 5, print `"Buzz"`. Otherwise, just print the number.

In [42]:
for number in range(1,31): 
    if number % 5 == 0: 
        print('Buzz')
    else: 
        print(number)

1
2
3
4
Buzz
6
7
8
9
Buzz
11
12
13
14
Buzz
16
17
18
19
Buzz
21
22
23
24
Buzz
26
27
28
29
Buzz

42) **FIZZBUZZ!** For each number between 1 and 30,
* if a number is divisible by 3, print `"Fizz"`
* if a number is divisible by 5, print `"Buzz"`
* if a number is divisible by both 3 and 5, instead print `"Fizzbuzz"`,
* otherwise, just print the number

This problem is the famous "Fizzbuzz" problem - and is a very common interview coding challenge! If you can do this without help, you're making awesome progress! Well done!

In [50]:
for number in range(1,31): 
    if number % 5 == 0 and number % 3 == 0: 
        print("Fizzbuzz")
    elif number % 5 == 0: 
        print("Buzz")
    elif number % 3 == 0: 
        print("Fizz")
    else: 
        print(number)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizzbuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizzbuzz

43) Define some string `sentence`. If you can't think of a good one, feel free to use `fact` from the previous notebook.

In [51]:
sentence = 'Hello just practicing python'

44) Count the number of vowels in `sentence` (no, y is not a vowel).
* _Hint:_ What happens if you loop through a string?

In [53]:
vowel_count = 0 

for letter in sentence: 
    if letter in 'aeiou':
        vowel_count += 1

In [54]:
vowel_count

7

45) Define a variable `sentence_rm` that is equal to `sentence` with all vowels removed. 
* _Hint:_ This is a tough one. Start out with an empty string and concatenate all of the consonants to it inside a loop.

In [56]:
sentence_rm = ''

for letter in sentence: 
    if letter not in 'aeiou':
        sentence_rm += letter
sentence_rm

'Hll jst prctcng pythn'

46) Create a variable `fav_number` equal to whatever is your favorite integer. Write a loop to determine if `fav_number` is prime. Recall that a prime number is any number whose only divisors are 1 and itself. For example, 6 is not prime since it's divisible by 1, 2, 3, and 6. But 7 _is_ prime since it's only divisible by 1 and 7.

In [66]:
num = 11 

# If given number is greater than 1
if num > 1:
 
    # Iterate from 2 to n / 2
    for i in range(2, int(num/2)+1):
 
        # If num is divisible by any number between
        # 2 and n / 2, it is not prime
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

11 is a prime number

47) A palindromic number reads the same both ways. For example, 1234321 is a palindrome. Write an `if` statement to test whether or not a number is palindromic.

In [74]:
num = 1234321

if str(num)[::-1] == str(num): 
    print('String is palindrome')
else: 
    print('String is not palindrome')

String is palindrome

48) Find the largest palindrome made from the product of two two-digit numbers.
* _Tip:_ Do not worry about the "efficiency" of your answer! The easiest answer is very inefficient.

In [75]:
largest_product = 0 

for i in range(10,100): 
    for x in range(10, 100): 
        if str(i * x)[::-1] == str(i * x):
            largest_product = (i * x)
            if (i * x) > largest_product: 
                lagest_product = (i * x)

In [76]:
largest_product

9009

# Section V: List Comprehensions

**Disclaimer:** Many (maybe all) of these exercises can be done without a list comprehension. However, listcomps are often the easiest way to solve a problem like this. Listcomps are also optimized in Python, meaning they are also often the _fastest_ way to solve a problem. In fact, **every problem in this section can be solved in one line of code!**

49) Create a list of the numbers 1 through 10.

In [77]:
[x for x in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

50) Create a list of the squares of the numbers between 1 and 10.

In [79]:
[x ** 2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

51) Create a list of all the even numbers between 18 and 47.

In [81]:
[x for x in range(18,48) if x % 2 == 0]

[18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46]

52) Create a list of the squares of the even numbers between 1 and 20.

In [83]:
[x ** 2 for x in range(1,21) if x & 2 == 0 and x != 1]

[16, 25, 64, 81, 144, 169, 256, 289, 400]

53) What is the sum of the cubes of the numbers between 7 and 37?

In [85]:
sum([x ** 3 for x in range(7, 38)])

493768

54) Create a list of all of the numbers divisible by either 3 or 5 (or both) between 1 and 30.

In [86]:
[x for x in range(1,31) if x % 5 == 0 or x % 3 == 0]

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30]

55) Redefine this list to be all uppercase.

In [87]:
friends = ["Alice", "Bob", "Charlie", "Derek"]

In [88]:
[x.upper() for x in friends]

['ALICE', 'BOB', 'CHARLIE', 'DEREK']

56) Remove all elements from `friends` whose names do not end in a vowel.

In [90]:
[x for x in friends if x[-1] in 'aeiou']

['Alice', 'Charlie']

57) Take the `sentence` you used earlier and remove the vowels again. This time, using a one-line list comprehension.

* _Hint:_ You'll find the `.join()` method to be useful here.

In [91]:
sentence

'Hello just practicing python'

In [104]:
"".join([x for x in sentence if x not in 'aeiou'])

'Hll jst prctcng pythn'

58) You need to access Excel files that have names like `Jan 5.xlsx` or `Mar 15.xlsx`. Create a list of January 1 through January 31 like this. That is, create the list of: `["Jan 1.xlsx", "Jan 2.xlsx", ... , "Jan 31.xlsx"]`.

In [108]:
[f'Jan{x}.xlsx' for x in range(1,32)]

['Jan1.xlsx',
 'Jan2.xlsx',
 'Jan3.xlsx',
 'Jan4.xlsx',
 'Jan5.xlsx',
 'Jan6.xlsx',
 'Jan7.xlsx',
 'Jan8.xlsx',
 'Jan9.xlsx',
 'Jan10.xlsx',
 'Jan11.xlsx',
 'Jan12.xlsx',
 'Jan13.xlsx',
 'Jan14.xlsx',
 'Jan15.xlsx',
 'Jan16.xlsx',
 'Jan17.xlsx',
 'Jan18.xlsx',
 'Jan19.xlsx',
 'Jan20.xlsx',
 'Jan21.xlsx',
 'Jan22.xlsx',
 'Jan23.xlsx',
 'Jan24.xlsx',
 'Jan25.xlsx',
 'Jan26.xlsx',
 'Jan27.xlsx',
 'Jan28.xlsx',
 'Jan29.xlsx',
 'Jan30.xlsx',
 'Jan31.xlsx']

59) Below is a list of amounts in euros. Create a new list, `dollars`, which is these amounts converted to U.S. dollars. There are 1.1 dollars per euro.

In [109]:
euros = [4.50, 6.70, 3.25, 9.99, 12.75, 0.35]

In [110]:
dollars = [x * 1.1 for x in euros]

dollars

[4.95, 7.370000000000001, 3.575, 10.989, 14.025, 0.385]

60) Below is a list of heights in inches. In order to ride a roller coaster, you must be at least 5 feet tall (60 inches). Filter this list to be _only_ those heights tall enough to ride.

In [111]:
heights = [71, 48, 55, 65, 68, 60, 58, 53]

In [112]:
tall_enough = [x for x in heights if x > 60]

tall_enough

[71, 65, 68]

61) Repeat the above exercise, except replace the lower heights with a `None` instead of dropping them.
* _Hint:_ Python has an in-line `if` statement, sometimes called a _ternary operator_ that you might find useful here. For example:

```
print("Tall enough" if 72 > 60 else "Too short")
print("Tall enough" if 52 > 60 else "Too short")
```

In [121]:
[x if x > 60 else "None" for x in heights]

[71, 'None', 'None', 65, 68, 'None', 'None', 'None']

62) Here are more heights below. However, this time, the information is contained in a dictionary. Create a list of the names _and ONLY the names_ of the people who are tall enough to ride the roller coaster.

* _Hint:_ How can you loop through a dictionary?

In [122]:
people = {
    "Aaron": 58,
    "Barbara": 66,
    "Clarence": 62,
    "Donovan": 55,
    "Erika": 70,
    "Fernando": 72
}

In [125]:
[x for x in people.keys() if people[x] > 60]

['Barbara', 'Clarence', 'Erika', 'Fernando']

63) Below we have some more data on our classmates. This time, the dictionary values are test scores. A student's final grade is their _maximum_ score on these three tests. Create a list of the students' final grades.

In [130]:
people = {
    "Aaron": [87, 52, 78],
    "Barbara": [92, 79, 85],
    "Clarence": [42, 68, 55],
    "Donovan": [95, 100, 87],
    "Erika": [62, 88, 47],
    "Fernando": [84, 99, 0]
}

In [135]:
[max(x) for x in people.values()]

[87, 92, 68, 100, 88, 99]

64) Repeat the above problem, except create a _dictionary_ of the final scores, where the dictionary keys are the names, and the dictionary values are the final grade.

* _Hint:_ You can do **dictionary comprehension** to solve this problem! Yes, it exists!

In [139]:
final_scores = {k:max(v) for k,v in people.items()}

final_scores

{'Aaron': 87,
 'Barbara': 92,
 'Clarence': 68,
 'Donovan': 100,
 'Erika': 88,
 'Fernando': 99}

65) Using the two lists defined below, create the following resulting list:

`["AZ", "BY", "CX", "DW", "EV"]`

* _Hint:_ Check out the `zip()` function.

In [140]:
letters_a = ["A", "B", "C", "D", "E"]
letters_z = ["Z", "Y", "X", "W", "V"]

In [150]:
[''.join(x) for x in zip(letters_a, letters_z)]

['AZ', 'BY', 'CX', 'DW', 'EV']

66) Using `letters_a` defined in the previous problem, create the following list:

```
[
    "A is letter 1 of the alphabet",
    "B is letter 2 of the alphabet",
    ...
]
```

* _Hint:_ Checkout the `enumerate()` function.

In [156]:
[f'{x} is letter {i + 1} of the alphabet' for i, x in enumerate(letters_a)]

['A is letter 1 of the alphabet',
 'B is letter 2 of the alphabet',
 'C is letter 3 of the alphabet',
 'D is letter 4 of the alphabet',
 'E is letter 5 of the alphabet']

# Section VI: Libraries, imports and some more math!

67) Import the `math` library

In [157]:
import math

68) The `math` library has a lot of cool stuff in it. For this problem, evaluate the following math expressions:

a) $\sin{\frac{\pi}{2}}$

In [164]:
math.sin(math.pi/2)

1.0

b) $\ln{\sqrt{e}}$
* _Hint:_ A logarithm with base $e$ is represented by just `log` in `math`. In fact, throughout the course, $\log$ with no subscript will always denote the natural log (ie, log base $e$).

In [165]:
math.log(math.e)

1.0

c) $e^{3}$

In [168]:
math.e ** 3

20.085536923187664

69) Two popular math functions are the "round up" and "round down" functions. In computer science, we call them the "ceiling" and "floor" functions. They're used and denoted as follows:

* `ceil(3.8)` $= \lceil 3.8 \rceil = 4$
* `ceil(3.2)` $= \lceil 3.2 \rceil = 4$
* `floor(3.8)` $= \lfloor 3.8 \rfloor = 3$
* `floor(3.2)` $= \lfloor 3.2 \rfloor = 3$

We _only_ need these two functions out of the `math` library. Use an `import` statement to import _only_ thees two functions and verify the above examples are true.

In [170]:
from math import ceil, floor

70) We can also _alias_ library names if they're too long and we will be using them often. As we will do many times in this course, import the following three libraries:

* Import the `numpy` library, aliasing it as `np`
* Import the `pandas` library, aliasing it as `pd`
* Import the `matplotlib.pyplot` library and submodule, aliasing it as `plt`

In [171]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

71) You can also import everything from a library all at once without needing to prefix it:

`from math import *`

For this question your task is: _never, **ever**_ do this.